/************************************/
/*    BELOW 767px (Small Screen)   */
/**********************************/

@media (max-width: 767.98px) {
  .img-sm-size {
    width: 50%;
  }
  /* .divider {
    max-width: 991.98px;
  } */
  .heading-primary {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .section-hero {
    padding: 4rem 0;
  }
  .container-hero {
    padding: 0 3rem;
  }
  .divider {
    max-width: 600px;
  }
}
