/************************************/
/*    BELOW 767px (Small Screen)   */
/**********************************/
@media (max-width: 1199px) {
  .heading-primary {
    font-size: 2.9rem;
  }
}

@media (max-width: 991px) {
  .section-hero {
    padding: 4rem 0;
  }
  .container-hero {
    padding: 0 3rem;
  }
  .heading-primary {
    font-size: 2.1rem;
  }
  .hero-description {
    font-size: 1.15rem;
  }
  .hero-img {
    width: 70%;
  }

  .section-main {
    padding: 5rem 1rem;
  }

  .heading-secondary {
    font-size: 1.9rem;
  }

  .heading-tertiary {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.025rem;
    line-height: 1.8;
  }

  .button:link,
  .button:visited {
    font-size: 1.025rem;
  }

  .link {
    font-size: 1.025rem;
  }

  .social-links {
    gap: 1.9rem;
  }

  .watercolor-painting {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .img-sm-size {
    width: 80%;
  }

  .heading-primary {
    font-size: 2rem;
  }

  /* no animation */
  .hero-img-box,
  .hero-text-box,
  .about-me-text,
  .about-me-paintings {
    transform: none;
    opacity: 1;
    transition: none;
  }

  .watercolor-painting {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .logo {
    height: 3rem;
  }

  .img-sm-size {
    width: 70%;
  }
  .section-hero {
    padding: 2rem 0;
  }

  .heading-primary {
    margin-top: -2rem;
  }

  .container-hero {
    padding: 0 3rem;
  }

  .section-main {
    padding: 4rem 1.5rem 3rem 1.5rem;
  }

  .section-skills {
    padding: 3rem 1.5rem;
  }

  .section-cta {
    padding: 1rem 1rem 4rem 1rem;
  }

  .section-cta .social-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .button:link,
  .button:visited {
    padding: 0.7rem 1rem;
  }

  .watercolor-painting {
    width: 40%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero-img-box,
  .hero-text-box,
  .about-me-text,
  .about-me-paintings {
    transform: none;
    opacity: 1;
    transition: none;
  }
}
