* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  /* Change highlight background color to black */
  background: #642b69;
  /* Change highlight text color to red */
  color: #fff;
}

.copyright::selection {
  background: black;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif !important;
  background: #fbfbfb;
}

.visuallyhidden {
  display: none;
}

.skip-link {
  background: #642b69;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  text-decoration: none;
  z-index: 2;
}

.skip-link:focus {
  transform: translateY(0%);
  outline: 3px solid #642b69;
  outline-offset: 2px;
  border-radius: 0;
  /* outline: none; */
}

header {
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Adjust the shadow effect */
}

.logo {
  height: 4.5rem;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-end;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  font-weight: 500;
  font-size: 1rem;
  color: #0c0c0c;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  transition: all 0.3s;
}

.nav-link:hover::before {
  content: "";
  height: 2px;
  width: 100%;
  background: #642b69;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:focus {
  outline: 2px dashed #642b69;
  border-radius: 4px;
  box-shadow: none;
}

.hero-img {
  width: 90%;
}

.watercolor-painting {
  width: 40%;
}

.img-large {
  width: 80%;
}

.img-med {
  width: 50%;
}

.project-image {
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
}

.stack-list p {
  margin-bottom: 0.5rem;
}

p {
  color: #4d4d4d;
  line-height: 1.6;
  font-size: 1.125rem;
}
.primary-color-blockElement {
  color: #d160b5;
  display: block;
}

.primary-color {
  color: #b050b8;
  color: #d160b5;
}

.hero-description {
  color: #4d4d4d;
  font-size: 1.25rem;
}

.heading-primary {
  font-size: 3.425rem;
  line-height: 115%;
  letter-spacing: -1.5px;
  font-weight: 700;
}
.heading-secondary {
  color: #212529;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.heading-tertiary {
  color: #212529;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.6px;
  font-weight: 700;
}

.card {
  border: none;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  border-radius: none;
  /* transition: all 0.4s; */
  background: none;
}

.card-body {
  padding: 0;
}

/* .card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem 0 rgba(0, 0, 0, 0.06);
} */

.card-image-top {
  border-radius: 8px;
}

/* .button {
  text-decoration: none;
  padding: 0.8rem 1.43rem;
  color: #642b69;
  border: 2px solid #642b69;
  font-size: 1.125rem;
}

.button:active,
.button:visited {
  color: #0c0c0c;
  transition: all 0.03s;
} */

/* .button:hover {
  border-bottom: 2px solid #642b69;
} */

.section-hero {
  padding: 6rem 0;
}

.section-main {
  padding: 5rem 0.75rem;
}
.section-skills {
  padding: 5rem 0.75rem;
}

.section-cta {
  padding: 5rem 0 5rem 0;
}

.section-footer {
  padding: 5rem 0;
}

.section-main p,
.section-skills p {
  max-width: 35rem;
}
.section-main li {
  max-width: 35rem;
}

.container-hero {
  padding: 0 6rem;
}

.project-introduction {
  padding: 5rem 0.75rem;
}

.project-content {
  padding: 0 0.75rem 0 0.75rem;
  margin-bottom: 4.5rem;
}

/* .divider {
  background: repeating-linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 6px,
    #e6e6e6 0,
    #e6e6e6 8px
  );
  height: 12px;
  margin: 0 auto;
  position: relative;
  max-width: 1072px;
  width: 100%;
} */

.divider {
  background: repeating-linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 6px,
    #e6e6e6 0,
    #e6e6e6 8px
  );
  height: 12px;
  margin: 0; /* Reset the horizontal margin to 0 */
}

/* .text-container {
  max-width: 33rem;
} */

/* .card-text {
  margin-bottom: 1.1rem !important;
} */

.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.7rem 1.6rem;
  border: 2px solid #0c0c0c;
  color: #0c0c0c;
  transition: all 0.03s;
}

.button:hover,
.button:active {
  background: #642b69;
  color: white;
  border: 2px solid #642b69;
}

.button:focus {
  outline: 2px dashed #642b69;
  border-radius: 0;
  box-shadow: none;
  outline-offset: 3px;
}

.custom-link:link,
.custom-link:visited {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 1.125rem;
  color: #642b69;
  font-weight: 600;
  padding: 0.3rem;
}

.custom-link i {
  transition: transform 0.3s ease;
}

.custom-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5.5px; /* Adjust space between text and underline */
  height: 2px; /* Thickness of underline */
  width: 100%;
  background-color: #642b69;
  transition: width 0.3s ease;
}

.custom-link:focus {
  outline: 2px solid #642b69;
}

.custom-link:focus::after {
  width: 0; /* Remove underline on focus */
}

.custom-link:hover i {
  transform: translateX(2.5px); /* Adjust distance icon moves */
}

.button i {
  transition: transform 0.3s ease;
}

.button:hover i {
  transform: translateX(2.5px);
}

footer {
  background: #642b69;
}

.copyright {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: white;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.skill-icon {
  font-size: 3.5rem; /* Adjust the value as needed */
  /* other styles */
  color: #642b69;
  /* color: #0176a1; */
}

li {
  padding: 0 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.row {
  /* Remove the default padding on the left */
  padding-left: 0;
  /* Align text to the left instead of center */
}

li.col-6.col-sm-3.col-md-3 {
  /* Remove padding or margin from the list items if necessary */
  padding: 0;
  margin: 0;
}

.w-60 {
  width: 60%;
}

.mb-6 {
  margin-bottom: 3rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.mb-9 {
  margin-bottom: 4.5rem;
}

/* Animations */
.img-box,
.about-me-paintings {
  transform: translateX(10%); /* Starts off the right side of the screen */
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.5s;
}

.text-box,
.about-me-text {
  transform: translateX(-10%); /* Starts off the left side of the screen */
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.5s;
}

.enter-right {
  transform: translateX(0);
  opacity: 1;
}

.enter-left {
  transform: translateX(0);
  opacity: 1;
}
