* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  /* Change highlight background color to black */
  background: #642b69;
  /* Change highlight text color to red */
  color: #fff;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif !important;
  background: #fbfbfb;
}

.visuallyhidden {
  display: none;
}

.skip-link {
  background: #642b69;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  text-decoration: none;
  z-index: 2;
}

.skip-link:focus {
  transform: translateY(0%);
  outline: 3px solid #642b69;
  outline-offset: 2px;
  border-radius: 0;
  /* outline: none; */
}

header {
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Adjust the shadow effect */
}

.logo {
  height: 4.5rem;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-end;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  font-weight: 500;
  font-size: 1rem;
  color: #0c0c0c;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  transition: all 0.3s;
}

.nav-link:hover::before {
  content: "";
  height: 2px;
  width: 100%;
  background: #642b69;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:focus,
a:focus {
  outline: 2px dashed #642b69;
  border-radius: 4px;
  box-shadow: none;
}

.hero-img {
  width: 90%;
}

p {
  color: #4d4d4d;
  line-height: 1.6;
}

.primary-color {
  color: #b050b8;
  color: #d160b5;
}

.hero-description {
  color: #4d4d4d;
  font-size: 1.25rem;
}

.description {
  font-size: 1.125rem;
  max-width: 500px;
  max-width: 22.75rem;
}

.heading-primary {
  font-size: 3.425rem;
  line-height: 115%;
  letter-spacing: -1.5px;
  font-weight: 700;
}
.heading-secondary {
  color: #212529;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.heading-tertiary {
  color: #212529;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.6px;
  font-weight: 700;
}

.card {
  border: none;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  border-radius: none;
  /* transition: all 0.4s; */
  background: none;
}

.card-body {
  padding: 0;
}

/* .card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem 0 rgba(0, 0, 0, 0.06);
} */

.card-image-top {
  border-radius: 8px;
}

/* .button {
  text-decoration: none;
  padding: 0.8rem 1.43rem;
  color: #642b69;
  border: 2px solid #642b69;
  font-size: 1.125rem;
}

.button:active,
.button:visited {
  color: #0c0c0c;
  transition: all 0.03s;
} */

/* .button:hover {
  border-bottom: 2px solid #642b69;
} */

.section-hero {
  padding: 6rem 0;
}

.section-main {
  padding: 5rem 0;
}

.section-footer {
  padding: 5rem 0;
}

.container-hero {
  padding: 0 6rem;
}

.divider {
  background: repeating-linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 6px,
    #e6e6e6 0,
    #e6e6e6 8px
  );
  height: 12px;
  margin: 0 auto;
  position: relative;
  max-width: 1072px;
  width: 100%;
}

/* .text-container {
  max-width: 33rem;
} */

/* .card-text {
  margin-bottom: 1.1rem !important;
} */

.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  padding: 0.7rem 1.6rem;
  border: 2px solid #0c0c0c;
  color: #0c0c0c;
  transition: all 0.03s;
}

.button:hover,
.button:active {
  background: #642b69;
  color: white;
  border: 2px solid #642b69;
}

.button:focus {
  outline: 2px dashed #642b69;
  border-radius: 0;
  box-shadow: none;
  outline-offset: 3px;
}

.link {
  /* position: relative; */
  display: inline-block;
  text-decoration: none;
  color: #0c0c0c;
  font-weight: 600;
}

.link i,
.button i {
  transition: transform 0.3s ease;
}

.link:hover i,
.button:hover i {
  transform: translateX(5px);
}

/* footer {
  background: #b050b8;
} */

/* .cta {
  background: #d160b5;
  background: #c96bc5;
  border-radius: 20px;
  padding: 1.4rem 2rem;
} */

footer {
  background: #642b69;
}

.copyright {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: white;
}

/* footer .heading-tertiary {
  color: white;
}

footer p {
  color: white;
} */

.social-links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
